.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.shape {
    width: 80px;
    height: 80px;
    background: rgb(226, 51, 51);
    line-height: 70px;
    font-size: 30px;
    margin: 10px;
    
}
.circle {
    width: 80px;
    height: 80px;
    background: rgb(37, 93, 28);
    line-height: 70px;
    font-size: 30px;
    margin: 10px;
    border-radius: 50%;

}
.bin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;

    .square {
        width: 100px;
        height: 100px;
        margin: 5px;
        border: 1px dashed gray;
        background-color: blue;

        &.blue {
            background-color: skyblue;
            border-color: skyblue;
        }
    }
}
.hor {
    width: 100px,
    
}
.kv {
    width: 250px;
    height: 100px;
    background-color: crimson;
    transition: all 0.5s;
    margin: 100px;
}

.container{
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
       
}
.dogs{
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}
.suo{
    font-size: 20px;
}
p{
    margin: 0;
}
ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 30px;
    border: 1px dotted white;

    li {
        width: 200px;
        margin: 10px;
        padding: 5px;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        list-style: none;
        position: relative;
    }

    h2 {
        height: 50px;
        overflow: hidden;
        font-size: 20px;
        line-height: 1.2;
    }

    h3 {
        font-size: 16px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: skyblue;
    }

    .id {
        position: absolute;
        top: 5px;
        left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid skyblue;
        border-radius: 50%;
        color: coral;
        font-size: 14px;
    }
}

.top {
    position: absolute;
    top: 0;
    background-color: #ffa500cc;
}