button {
width: 60px;
height:60px;
line-height: 60px;
font-size: 20px;
text-align: center;
color: #fff;
text-decoration: none;
border-radius: 50%;
transition: all 0.5s;
}

button:hover {
    background-color: #fff;
    border-radius: 0%;

}
